html {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    
}
body {
    margin: 0;
    background: #AFFFF5;
}

.container {
    max-width: auto;
    max-height: auto;
    margin: 0px auto;
}

.title {
    text-align: center;
}

.all-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#note-section {
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box; /* MAKES 20PX PADDING ADDED TO 70% */
}

#user-prompt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.notes {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.3rem;
    color: black;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 200px;
    width: 500px;
    border-radius: 20px;
}
.saveBtn {
    margin-top: 10px;
}

button {
    cursor: pointer;
    background-color: #0db45c;
    color: white;
    border: 0;
    border-radius: 10px;
}

#submit-btn {
    /*padding: top right bottom left;
    padding: topbottom rightleft;
    padding: top rightleft bottom;
    padding: toprightleftbottom;*/
    padding: 1rem 0px;
}
.edit-delete-btns {
    display: flex;
}
.editBtn {
    cursor: pointer;
    background-color: transparent;
    color:  black;
    border: 2px solid #6AE977;
    border-radius: 10px;
}
.deleteBtn {
    cursor: pointer;
    background-color: transparent;
    color:  black;
    border: 2px solid #6AE977;
    border-radius: 10px;
}
.saveBtn {
    cursor: pointer;
    background-color: transparent;
    color:  black;
    border: 2px solid #6AE977;
    border-radius: 10px;
}